.settings/
bin/
logs/
project/
target/
.cache-main
.classpath
.project
win32ex/.settings/
win32ex/bin/
win32ex/.classpath
win32ex/.project
ReplaceSWT/.settings/
ReplaceSWT/bin/
ReplaceSWT/project/
ReplaceSWT/target/
ReplaceSWT/.cache-main
ReplaceSWT/.classpath
ReplaceSWT/.project
